@import '~modern-normalize/modern-normalize.css';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  padding: 2rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

header {
  background: white;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  font-weight: normal;
}

/* Nawigacja */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Burger menu */
.burger-menu {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: none; /* Domyślnie ukryty */
}

/* Responsywność */
@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: white;
      border-top: 1px solid #ddd;
      padding: 10px 0;
  }

  .nav-links a {
      padding: 10px;
      text-align: center;
      display: block;
  }

  .burger-menu {
      display: block;
  }

  .nav-active {
      display: flex;
  }
}